{
  "root": true,

  "env": {
    "browser": true
  },

  "extends": ["plugin:prettier/recommended", "htmlacademy/es5"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error"
  }
}
